<div class="job-card">
    <h4 class="card-title">{{title}}</h4>
    <h6 class="card-subtitle mb-2">{{company}}</h6>
    <h6 class="text-muted city-text">{{place}}</h6>

    <a href="{{link}}" target="_blank" class="card-link">Click Here to Apply</a>
</div>