<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Finder</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <div>
            <img id="page-logo" src="/images/crown.svg" alt="crown-logo">
            <h1 id="page-title">Job Finder</h1>
            <p>Search, Apply, Work</p>
        </div>
        <div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><button id="logout-link">Logout</button></li>
                </ul>
            </nav>
        </div>
    </header>
    {{{body}}}
</body>

</html>