<div class="row">
    <div class="homepage-header mx-auto my-2">
        <h2>Welcome to Job Finder</h2>
        <div class="mx-auto my-2">
            <h3><a href="/login">Login</a> To Find Your Next Job!</h3>
        </div>
    </div>
</div>