<div class="container">
    
    <div class="col-3">
        Saved Jobs
    </div>
    
    <div class="col-9">
        
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="search-container">
                    <form action="">
                        <input type="text" placeholder="Search for a Job" name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-8">Job Title</div>
            <div class="col-4">Post Date</div>
        </div>
        
        <div class="row">
            <div class="col">Search Results</div>
        </div>

    </div>
</div>