<div class="container">
    
</div>

<div class="con-card">
    <h2>Viewed Jobs:</h2>
    {{#each data}}
    Hello
        {{!-- {{> job}}    --}}
    {{/each}}
</div>

<script src="/javascript/click.js"></script>
<script src="/javascript/jo.js"></script>