:root {
    --primary: #41694F;
    --secondary: #4C7786;
    --tertiary: #8C4A3E;
    --text: #84D39F;
    --background: #C9D2D4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--background);
}

header {
    background-color: var(--primary);
    padding:10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#page-title {
    color: var(--secondary);
}

#page-logo {
    height: 5em;
}