:root {
    --primary: #41694F;
    --secondary: #4C7786;
    --tertiary: #8C4A3E;
    --text: #84D39F;
    --background: #C9D2D4;
    --dark: #0F0706;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
}

header {
    background-color: var(--secondary);
    background-image: url("/images/crown.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 80px;
    height: max-content;
}

#page-title {
    color: var(--primary);
    text-shadow: 0px 0px 4px var(--dark);
}
#slogan {
    position: absolute;
    visibility: hidden;
    color: var(--text);
    text-shadow: 0px 0px 4px var(--dark);
}

.header-row {
    padding: 0px auto 0px auto;
}

.nav { 
    justify-content: space-around;
    font-size: small;
}

#logout-link {
    background-color: rgba(0,0,0,0);
    border: none;
}

a, #logout-link {
    color: var(--text);
    border-radius: 5px;
    padding:2px;
    margin: 0px auto 15px auto;
}

a:hover, #logout-link:hover {
    text-decoration: none;
    color: var(--tertiary);
    border: inset 2px var(--text);
    transition: all .2s;
}

.homepage-header {
    text-align: center;
}

@media only screen and (min-width: 500px) {
    #slogan {
        visibility: visible;
    }
}